.cog {
  position: absolute;
  transform: translate(-50%, -50%);
  animation: spin var(--speed) linear infinite;
  animation-direction: var(--direction);
}

@keyframes spin {
  from {
    transform:
      translate(-50%, -50%)
      rotate(0deg);
  }

  to {
    transform:
      translate(-50%, -50%)
      rotate(360deg);
  }
}