.heroSection {
    margin: 0 auto;
    padding: 4.5rem 0;  
    max-width: 1300px; 
    min-height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8.5rem;
    align-items: center;
    place-items: center;
    justify-self: center;
}

.headline {
    display: grid;
    gap: 1.4rem;
    max-width: 700px;
    justify-self: start;
}

.headline h1 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.15;
    margin: 0;
    text-align: center;
}

.headline p {
    color: var(--text-color2);
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 0.5rem;
    text-align: center;
}

.ctaButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.heroCta {
    font-size: 1.3rem;
    font-weight: 500;
    height: 60px;
    padding: 0 22px;
    border-radius: 10px;
    background-color: var(--primary-color1);
    border: 2px solid var(--secondary-color1);
    box-shadow: 3px 3px var(--secondary-color1);
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
}

.icon {
    font-size: 1.2rem;
}

.heroCta:hover .icon {
    animation: arrowLoop 0.9s ease infinite forwards;
}

@keyframes arrowLoop {
    0% { transform: translateX(0px); }
    50% { transform: translateX(5px); }
    100% { transform: translateX(0px); }
}

.resume {
    font-size: 1.2rem;
    font-weight: 400;
    height: 60px;
    padding: 0 22px;
    border-radius: 10px;
    color: var(--text-color1);
    background-color: var(--bg-color3);
    border: 2px solid var(--secondary-color1);
    box-shadow: 4px 4px var(--secondary-color2);
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
}

.resume:hover {
    filter: brightness(1.3);
}

.dlIcon {
    transition: transform 0.2s ease;
}

.resume:hover .dlIcon {
    transform: scale(1.1);
}

@media (max-width: 1250px) {
    .heroSection {
        column-gap: 0rem;
        padding: 4.5rem 4rem;
    }

    .headline {
        max-width: 520px;
    }
}

@media (max-width: 900px) {
    .heroSection {
        grid-template-columns: 1fr;
        justify-items: center;
        text-align: center;
        gap: 2rem;
        padding: 2.5rem 1.25rem;
    }

    .headline {
        max-width: 520px;
    }
}

@media (max-width: 650px) {
    .headline h1 {
        font-size: 2.4rem;
    }

    .headline p {
        font-size: 1.05rem;
    }
    .ctaButton > * {
        width: 100%;
        max-width: 320px;
    }
}
