.tilePanel {
    width: 100%;
    aspect-ratio: 1 / 1;
    min-height: 110px;
    border: 3px solid var(--accent-color2);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    background: var(--card-bg-color);
}

.tilePanel h3{
    margin: 0;
    font-weight: 400;
    text-align: center;
}