.banner {
    width: 100%;
    background-color: var(--bg-color1);
    border-bottom: 1px solid var(--primary-color1);
    padding: 0.5rem 1rem;
    text-align: center;
}

.text {
    font-size: 1.1rem;
    color: var(--text-color2);
    letter-spacing: 0.02em;
}

@media (max-width: 600px) {
    .text {
        font-size: 0.75rem;
    }
}
