body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color1);
    color: var(--text-color1);
    font-family: "Azeret Mono", monospace;
}

:root {
    --bg-color1: #050B1A;
    --bg-color2: #040E23;
    --bg-color3: #0C0B23;
    --text-color1: #DCE3EE;
    --text-color2: #898C9D;
    --primary-color1: #7AA2F7;
    --primary-color2: #0A8B9C;
    --secondary-color1: #2F3E5C;
    --secondary-color2: #0D133F;
    --accent-color1: #5EEB8A;
    --accent-color2: #09E6F6;
}