
.header-container{
    text-align: center;
    margin-top: 20px;
}

.header-container ul{
    padding: 0;
    list-style: none;
}

.header-container li{
    display: inline-flex;
    margin: 8px 12px;
}