body{
    background-color: hsl(262, 65%, 9%);
    color: white;
}

a{
    text-decoration: none;
    color: aqua;
    transition: color 0.2s ease; 
}

a:hover{
    color: hsl(180, 100%, 40%); 
}

.header-container{
    text-align: center;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-container ul{
    padding: 0;
    list-style: none;
}

.header-container li{
    display: inline-flex;
    margin: 8px 12px;
    font-size: 1.5rem;

}

.header-container h1{
    font-size: 2em;
}