* {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
    -webkit-tap-highlight-color: transparent;
}

a, button {
    -webkit-touch-callout: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--bg-color1);
    color: var(--text-color1);
}

section {
    scroll-margin-top: 50px;
}

.hl {
    color: var(--accent-color2);
    opacity: 0.85;
    font-weight: 400;
}

.hl2 {
    color: var(--accent-color1);
    opacity: 0.85;
    font-weight: 400;
}

.hl3 {
    color: var(--text-color1);
    opacity: 0.9;
    font-weight: 400;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color3);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color2);
  border-radius: 999px;
  border: 1px solid var(--bg-color3);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color2);
}

:root {
    --bg-color1: #050B1A;
    --bg-color2: #040E23;
    --bg-color3: #0C0B23;
    --text-color1: #DCE3EE;
    --text-color2: #898C9D;
    --primary-color1: #7AA2F7;
    --primary-color2: #0A8B9C;
    --secondary-color1: #2F3E5C;
    --secondary-color2: #0D133F;
    --accent-color1: #5EEB8A;
    --accent-color2: #09E6F6;
    --card-bg-color: #0E0B27;
    --github-color: #B0B8BFE6;
    --linkedin-color: #2BA3EEE6;
    --itchio-color: #E7556EE6;
}