
* {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
    -webkit-tap-highlight-color: transparent;
}

a, button {
    -webkit-touch-callout: none;
}


html {
    /* scroll-snap-type: y mandatory; */
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--bg-color1);
    color: var(--text-color1);
}

section {
    /* scroll-snap-align: start; */
    scroll-margin-top: 50px;
}

:root {
    --bg-color1: #050B1A;
    --bg-color2: #040E23;
    --bg-color3: #0C0B23;
    --text-color1: #DCE3EE;
    --text-color2: #898C9D;
    --primary-color1: #7AA2F7;
    --primary-color2: #0A8B9C;
    --secondary-color1: #2F3E5C;
    --secondary-color2: #0D133F;
    --accent-color1: #5EEB8A;
    --accent-color2: #09E6F6;
    --card-bg-color: #0E0B27;
    --github-color: #B0B8BFE6;
    --linkedin-color: #2BA3EEE6;
    --itchio-color: #E7556EE6;
}