.aboutSection {
    margin: 7rem auto;
    padding: 4rem 0;
    max-width: 1100px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
}

.aboutSection h1 {
    grid-column: 1;
    font-size: 4rem;
    font-weight: 400;
}

.aboutSection p {
    grid-column: 1;
    margin: 1.25rem 0 0 0;
    max-width: 520px;
    color: var(--text-color2);
    font-size: 1.6rem;
    line-height: 1.7;
}

.wordGridContainer {
    grid-column: 2;
    justify-self: end;
}

.wordGrid {
    width: min(520px, 100%);
    padding: 0.7rem;
    border: 3px solid var(--accent-color2);
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.6rem;
}

.textBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  align-self: center;
}

@media (max-width: 900px) {
    .aboutSection{
        grid-template-columns: 1fr;
        text-align: center;
        row-gap: 2.5rem;
    }

    .wordGridContainer{
        grid-column: 1;
        justify-self: center;
    }

    .aboutSection p{
        margin-left: auto;
        margin-right: auto;
    }
}

