.aboutSection {
    margin: 7rem auto;
    padding: 4rem 0;
    max-width: 1100px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 11rem;
    align-items: center;
}

.aboutSection h1 {
    grid-column: 1;
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
    padding-top: 0;
}

.aboutSection p {
    grid-column: 1;
    font-size: 1.4rem;
    max-width: 700px;
    color: var(--text-color2);
    line-height: 1.7;
    text-align: center;
}

.textBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-self: center;
}

.wordGridContainer {
    grid-column: 2;
    justify-self: end;
}

.wordGrid {
    width: min(520px, 100%);
    padding: 0.7rem;
    border: 3px solid var(--secondary-color1);
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.6rem;
}

.dragging {
    z-index: 10;
    position: relative;
    pointer-events: none;
    transition: none !important;

    box-shadow: 0 18px 40px rgba(0,0,0,0.5);
}

.over {
  border-color: var(--accent-color1);
  box-shadow: 0 0 0 3px var(--accent-color1);
}


@media (max-width: 900px) {
    .aboutSection{
        grid-template-columns: 1fr;
        text-align: center;
        row-gap: 2.5rem;
    }

    .wordGridContainer{
        grid-column: 1;
        justify-self: center;
    }

    .aboutSection p{
        margin-left: auto;
        margin-right: auto;
    }
}

